html {
    font-family: "Hiragino Sans", "sans-serif";
    font-size: 16px;
    word-spacing: 1px;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
}

.wrapper {
    background: #FAFAFA;
    width: 100%;
    min-height: calc(100vh - 61px);
}

.el-card {
    flex: 1;
}

.container:not(.__nuxt-error-page) {
    width: 96%;
    max-width: 980px;
    padding: 30px 0;
    margin: 0 auto;
    min-height: calc(100vh-61px);
    display: flex;
    justyfy-content: center;
    align-items: flex-start;
}

.text-left {
    text-aligin: left;
}
.text-right {
    text-aligin: right;
}
.text-center {
    text-aligin: center;
}